/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: white; margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 60px;
  line-height: 60px;
  
}
